<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
	<link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>
<body>
	<div class="signup-container">
		<h1>Signup</h1>

		<% if(error) { %> <%= error %> <% } %>
		<% if(success) { %> <%= success %> <% } %>

		<form method="post" action="/donor/signup">
			<label for="name">Full Name:</label>
			<input type="text" id="name" name="name"><br><br>
			<label for="mobile">Mobile Number:</label>
			<input type="text" id="mobile" name="phone_no"><br><br>
			<label for="aadhar">Aadhar Card Number:</label>
			<input type="text" id="aadhar" name="aadhar_no"><br><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password"><br><br>
			<input type="submit" value="Sign up">
		</form>
		Have an account? <a href="/donor/login">Login</a>
	</div>
</body>
</html>
